<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Driver.Class" value="OpenQA.Selenium.Firefox.FirefoxDriver"/>
    <add key="Assembly" value="WebDriver"/>
    <!-- example DriverType: All, HtmlUnit, IE, Firefox, Safari, Chrome, Opera, Remote, IPhone, Android, WindowsPhone, PhantomJS, SauceLabs-->
    <add key="DriverType" value="SauceLabs"/>
    <!-- Remote or Sauce only -->
    <!-- example RemoteBrowserName: firefox, internet explorer, safari-->
    <add key="RemoteBrowserName" value="firefox"/>
    <add key="RemoteBrowserVersion" value="29"/>
    <!-- example RemoteOsPlatform: Android, Any, Linux, Mac, Unix, Vista, WinNT, Windows, XP-->
    <add key="RemoteOsPlatform" value="Vista"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
