<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SeleniumExtension.Tests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <SeleniumExtension.Tests.Properties.Settings>
      <setting name="SeleniumServerStandAlonePath" serializeAs="String">
        <value>C:\Medrio\test\trunk\Toolkits\SeleniumServer\selenium-server-standalone-2.32.0.jar</value>
      </setting>
    </SeleniumExtension.Tests.Properties.Settings>
  </applicationSettings>
</configuration>