<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>

    
    <!-- -->
    <add key="NugetChromeDriverVersion" value="2.45.0"/>
    <add key="NugetIEDriverVersion" value="3.141.0"/>
    <add key="NugetGeckoDriverVersion" value="0.23.0.3"/>
    
    
    
    
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
