<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- example DriverType: All, HtmlUnit, IE, Firefox, Safari, Chrome, Opera, Remote, IPhone, Android, WindowsPhone, PhantomJS, SauceLabs-->
    <add key="DriverType" value="SauceLabs"/>
    <!-- example DriverType: HtmlUnit, IE, Firefox, Safari, Chrome, Opera, IPhone, Android, WindowsPhone, PhantomJS-->
    <add key="BrowserName" value="Chrome"/>
    <!-- Remote or Sauce only -->
    <!-- example RemoteBrowserName: firefox, internet explorer, safari-->
    <add key="RemoteBrowserName" value="firefox"/>
    <add key="RemoteBrowserVersion" value="64.0"/>
    <!-- example RemoteOsPlatform: Android, Any, Linux, Mac, Unix, Vista, WinNT, Windows, XP-->
    <add key="RemoteOsPlatform" value="Windows 10"/>
    
    <!-- -->
    <add key="FireFoxBinaryPath" value="C:\Program Files\Mozilla Firefox\firefox.exe"/>
    
    
    
    <!-- -->
    <add key="NugetChromeDriverVersion" value="2.45.0"/>
    <add key="NugetIEDriverVersion" value="3.141.0"/>
    <add key="NugetGeckoDriverVersion" value="0.23.0.3"/>
    
    
    
    
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
